<p>
  <strong>Kontrahent: </strong>
  <%= @inf_dodatka_kontr.Id_Kontrahenci %>
</p>

<p>
  <strong>Informacja dodatkowa: </strong>
  <%= @inf_dodatka_kontr.Inf_dodatkowa %>
</p>

<%= link_to 'Edycja', edit_inf_dodatka_kontr_path(@inf_dodatka_kontr) %> |
<%= link_to 'Powrót', inf_dodatka_kontr_index_path %>
