<div class="title heading">Import pliku CSV z danymi kontrahentów</div>
</br>
</br>
</br>

<div>
<%= form_tag(load_kontrahenci_upload_path, :multipart => true) do %>
<p><label for="file">Select File </label>
<%= file_field_tag 'file' %>
</p>
<%= submit_tag "Upload" %>
<% end %>
</div>