<h1>Aktualizacja statusów kontrahentów</h1>

<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
      <th>Id</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @status1 %></td>
    </tr>
  </tbody>
</table>
    
<%= link_to 'Back', status_index_path %>
