<h1>LoadKontrahenci#show</h1>
<% logger.info('Starting to load the vehicle data from db/vehicles.csv ...') %>
<%= LoadKontrahenci.import! %>
<% logger.info('Done loading the vehicle data from db/vehicles.csv!') %>
