<div class="title heading">Import pliku CSV z fakturami kontrahentów</div>
</br>
</br>
</br>

<div class="container">

<div class="row">
<div class="col-sm-8">

<%= form_tag({action: :upload}, multipart: true) do %>
<%= file_field_tag "csv_file", class: "profile_input" %>
</div>
<div class="col-sm-4">
<%= submit_tag 'Wyślij' %>
<% end %>
</div>
</div>
</div>