// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$jumbotron-bg: #F5F5F5;
$jumbotron-heading-color: #000080;
$jumbotron-padding: 6px;
$font-size-base: 14px;
$font-size-h1: 22px;
$jumbotron-heading-font-size: 28px;
$line-height-computed: 6px;
$headings-font-weight: 400;
$table-border-color: #999;
$table-cell-padding: 12px;
@import "bootstrap-sprockets";
@import "bootstrap";
